<h2>タイムライン</h2>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5><%= link_to post.user.name, user_path(post.user) %></h5>
        <p><%= post.body %></p>
        <small><%= l(post.created_at, format: :short) %></small>
      </div>
    </div>
  <% end %>
<% else %>
  <p>フォローしているユーザーの投稿はまだありません。</p>
<% end %>
