<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1>PetTrackへようこそ!</h1>
        <p>愛するペットとの日々を、写真で残そう。</p>
        <p>もしものときの迷子捜索にも、みんなの力でサポートします。</p>

        <div class="btn-wrapper col-10 mx-auto">
          <div class="row mb-2">
            <a class="btn btn-info btn-sm btn-block sign_in" href="<%= new_user_session_path %>">Log in</a>
          </div>
          <div class="row">
            <a class="btn btn-success btn-sm btn-block sign_up" href="<%= new_user_registration_path %>">Sign up</a>
          </div>
          <div class="row mt-2">
           <%= button_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-secondary btn-sm btn-block' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
