<div class="top-container">
  <h1>PetTrackへようこそ!</h1>
  <p>大切なペットの思い出を写真で記録しよう。</p>
  <p>迷子になったペットの捜索にもご活用いただけます。</p>


  <div class="btn-wrapper col-10 mx-auto">
  <div class="row">
    <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="<%= new_user_session_path %>">Log in</a>
  </div>
  <div class="row">
    <a class="btn btn-success btn-sm btn-block sign_up" href="<%= new_user_registration_path %>">Sign up</a>
  </div>
</div>