<h1>迷子ペット情報の編集</h1>

<%= form_with model: @lost_pet, local: true, html: { multipart: true } do |form| %>
  <%= render 'public/shared/lost_pets_form', form: form %>
  <%= form.submit "更新する", class: "btn btn-primary" %>
  <%= link_to 'キャンセル', lost_pet_path(@lost_pet), class: "btn btn-secondary" %>
<% end %>